@{
	var selected = ViewData["selected"]?.ToString() ?? "";
}

<div class="off-canvas-wrap ">
	<div class="close-off-canvas-wrap">
		<a href="#" id="of-close-off-canvas">
			<i class="fal fa-times"></i>
		</a>
	</div>
	<div class="off-canvas-inner">
		<div id="of-mobile-nav" class="mobile-menu-wrap">
			<ul class="mobile-menu">
				<li><a href="/">صفحه اصلی</a></li>
				<li><a href="/blog">مقالات</a></li>
				<li><a href="/services">خدمات ما</a></li>
				<li><a href="/about-us">درباره ما</a></li>
				<li><a href="/contact-us">تماس با ما</a></li>
			</ul>
		</div>
	</div>
</div>

<header class="main_header wide_header">
	<div class="header_container">

		<div class="menu_wrapper menu_sticky">
			<div class="container tophead d-md-block d-none py-1">
				<div class="row">

					<div class="col-lg-6 h-info text-right IRANSans_Medium">
						<span class="text-white mx-3"><i class="fal fa-phone ml-2"></i>091231221312</span>
						<span class="text-white"><i class="fal fa-envelope ml-2"></i>Info@gmail.com</span>
					</div>
					<div class="col-lg-6  text-left">
						<ul class="social-list">
							<li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="container p_relative mobnav bg-cudark">
				<div id="navigation" class="of-drop-down of-main-menu" role="navigation">
					<ul class="menu">
						<li class="ml-3 test">
							<a href="#" class="current d2logo">
								<img src="Img/Logo.png" />
							</a>
						</li>

						<li class="has_sub ">
							<a href="/" class="@(selected == "Home" ? "currentlnklight" : "null")">صفحه اصلی</a>
						</li>
						<li><a href="/blog" class="@(selected == "Blog" ? "currentlnklight" : "null")">مقالات</a></li>
						<li><a href="/services" class="@(selected == "Services" ? "currentlnklight" : "null")">خدمات ما</a></li>
						<li><a href="/about-us" class="@(selected == "About-us" ? "currentlnklight" : "null")">درباره ما</a></li>
						<li><a href="/contact-us" class="@(selected == "Contact-us" ? "currentlnklight" : "null")">تماس با ما</a></li>
					</ul>
				</div>
				<div class="m_search pt-md-1">
					<i class="fal fa-search"></i>

				</div>
				<div class="is-show mobile-nav-button">
					<img src="Img/Logo.png" />
					<a id="of-trigger" class="icon-wrap pr-3" href="#"> <i class="fal fa-bars"></i></a>
				</div>

				<form class="search_wrap mt-lg-0" id="ajax-form-search" method="get" action="">

					<input type="text" id="search-form-text" class="search-field" value="" name="s" placeholder="کلید واژه مورد نظر ...">
					<button><i class="fal fa-search"></i></button>

					<input type="hidden" name="post_type" value="product">
					<div id="ajax-search-result"></div>
				</form>
			</div>
		</div>
	</div>
</header>
