@model List<SliderDTO>

<div id="owl-mainslider" class="owl-carousel owl-theme text-center">
    @if (Model != null)
    {
        @foreach (var Slider in Model)
        {
            <div class="item">
                <img src="@FilePath.SliderImagePath@Slider.ImageName" href="@Slider.Domain" class="img-fluid" />
                <div class="carousel-caption">
                    <h1 class="h1">@Slider.Title</h1>
                    <p style="width: 100%;font-size: 0.9em;margin: 2em auto;padding: 0 0.4em;">
                        @Slider.Description
                    </p>
                    <a href="@Slider.Domain" class="btn btn-warning text-white radius10 py-2 px-4 my-3"><i class="fal fa-phone ml-2"></i>ارتباط با ما ! </a>
                </div>
            </div>
        }
    }
</div>
