@{
    ViewData["Title"] = "حسابداری مالی | مشاوره مالی | انجام امور مالی";
    ViewData["selected"] = "Home";
    var description = "گروه حسابداری دانامحاسبان نوین آماده ارائه خدمات حسابداری و مالیاتی به صورت پاره وقت و پروژه ای می باشد";
    var keywords = "مشاوره مالیاتی,خدمات مالی و حسابداری,اظهارنامه دفاتر قانونی,حسابداری,خدمات مالی,حسابداری مالی,اظهارنامه اشخاص حقیقی و حقوقی";
}
@section MetaTags {
    <meta name="robots" content="index, follow" />
    <meta name="description" content="@description" />
    <meta name="twitter:title" content="@ViewData["Title"]" />
    <meta name="twitter:description" content="@description" />
    <meta name="keywords" content="@keywords" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@description" />
    <meta property="og:url" content="https://danamohasebannovin.ir/" />
    <link rel="canonical" href="https://danamohasebannovin.ir/" />
}
@section MainSlider {
    @await Component.InvokeAsync("MainSlider")
}
@section Header {
    @await Component.InvokeAsync("Header")
}
@section Footer {
    @await Component.InvokeAsync("Footer")
}
<div class="container mt-lg-4 pt-3">
    <div class="row">
        @await Component.InvokeAsync("Services")
    </div>
</div>

@await Component.InvokeAsync("AboutUs")

<section class="container blog-grid mt-5">
    <div class="d-flex flex-row my-3">
        <div class="Dottedstocol ml-3"></div>
        <div class="singletitle">
            <span>مقالات</span>
            <h1 class="text-right">آخرین مقالات</h1>
        </div>
    </div>
    @await Component.InvokeAsync("Post")
</section>



<section class="container-fluid my-4 py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-sm-block d-none">
                <img src="/site/Img/mobile.png" />
            </div>
            <div class="col-lg-8 p-3">

                <h3 class="IRANSans_Bold mb-2">نیاز به مشاوره دارید ؟</h3>
                <p class="text-justify">حسابداری یکی از اصلی‌ترین خدمات شرکت دانا محاسب نوین است که طیف گسترده‌ای از وظایف و مسئولیت‌های مالی یک کسب و کار را بر عهده می‌گیرد. خدمات حسابداری شامل تحریر دفاتر قانی، تهیه صورت‌های مالی شرکت و ارسال اظهارنامه،تهیه لیست حقوق و دستمزد، بودجه‌بندی و مشاوره مالی است که گزارش کاملی از عملکرد مالی یک شرکت در بازه‌های زمانی مشخص را ارائه خواهد داد. گزاراشات تهیه شده توسط بخش حسابداری، میزان سوددهی و یا زیان یک شرکت را به طور دقیق نشان می‌دهد که با بررسی آن می‌توانید اقدامات لازم در جهت حفظ موقعیت شرکت و یا بهبود وضعیت موجود را با همراهی مشاور و حسابدار مالی خود انجام دهید. شرکت حسابداری دانا محاسب نوین کلیه امور مربوط به حسابداری کسب و کار شما را با همراهی تیم مجرب و متخصص خود عهده‌دار می‌شود. متخصصان دانا محاسب نوین با تکیه بر دانش و تخصص خود در حوزه حسابداری به بهبود عملکرد، کارایی و سودآوری شما کمک خواهد کرد.</p>
            </div>
        </div>

    </div>
</section>

<section class="container">
    <div class="row bg-warning  px-5 py-3 my-5 radius10">
        <div class="col-lg-9 text-dark  text-lg-right text-center">
            <h5 class="IRANSans_Medium">"انجام کلیه امور مالی شرکت ها"</h5>
            <p>
                مدیریت اصولی و حرفه‌ای امور مالی و حسابداری کسب و کارها نقش مهمی را در موفقیت و دستیابی به اهداف بلندمدت آنها ایفا می‌کند.
            </p>
        </div>
        <div class="col-lg-3 text-dark text-lg-left text-center mt-lg-0 mt-3">
            <a href="tel:09374071197" class="btn btn-light radius20 text-dark IRANSans_Medium">درخواست مشاوره</a>
        </div>
    </div>
</section>


@await Component.InvokeAsync("Comments")
