@{
	ViewData["Title"] = "خدمات ما";
	ViewData["selected"] = "Services";
	var description = "خدمات مجموعه دانا محاسبان نوین به شرح زیر است";
	var keywords = "";
}

@section MetaTags {
	<meta name="description" content="@description" />
	<meta name="keywords" content="@keywords" />
	<meta name="twitter:description" content="@description" />
	<meta property="og:title" content="@ViewData["Title"]" />
	<meta property="og:description" content="@description" />
	<meta property="og:url" content="https://danamohasebannovin.ir/services" />
	<meta name="subject" content="@ViewData["Tilte"]" />
	<meta name="twitter:title" content="@ViewData["Title"]" />
	<meta name="twitter:description" content="@description" />
	<link rel="canonical" href="https://danamohasebannovin.ir/services" />
}

@section Header {
	@await Component.InvokeAsync("Header")
}
@section Footer {
	@await Component.InvokeAsync("Footer")
}
<section class="banner_area">
	<div class="container">
		<h1 class="text-white IRANSans_Bold">خدمات ما</h1>
		<div class="breadcrumb_content">
			<ul>
				<li><a href="#">صفحه اصلی</a></li>
				<li><a href="/Services">خدمات ما</a></li>
			</ul>
		</div>
	</div>
</section>
<section class="container ">
	<div class="row">
		@await Component.InvokeAsync("Services")
	</div>
</section>