<!DOCTYPE html>
<html>
<head>
    <title> شرکت دانا محاسبان نوین @ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/site/img/logo.png">
    <meta name="copyright" content="dana mohaseban novin" />
    <meta name="author" content="web master design" />
    <meta property="og:locale" content="fa_IR" />
    <meta property="og:site_name" content="دانا محاسبان نوین" />
    @RenderSection("MetaTags", false)
    <link href="/site/Css/Main.css" rel="stylesheet" />
    <link href="/site/Css/Style.css" rel="stylesheet" />
    <link href="/site/Css/Menu-demo4.css" rel="stylesheet" />
    <link href="/site/Css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/site/Css/owl.theme.min.css" rel="stylesheet" />
    <link href="/site/Css/hoverimg.css" rel="stylesheet" />
</head>
<body class="demo2">
    <div class="main_wrap">
        <div class="of-site-mask"></div>
        @RenderSection("Header", false)
        <div class="clearfix"></div>
        @RenderSection("MainSlider", false)
        @RenderBody()
        @RenderSection("Footer", false)
    </div>

    <script src="/site/Js/jquery.min.js"></script>
    <script src="/site/Js/bootstrap.min.js"></script>
    <script src="/site/Js/owl.carousel.js"></script>
    <script src="/site/Js/Custom.js"></script>
    <script src="/site/Js/Menu.js"></script>
    <script src="~/lib/sweetalert/sweetalert.js"></script>
    <script src="~/lib/sweetalert/sweetalertv11.7.5.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
