@model PostFilterForShowDTO
@{
	ViewData["selected"] = "Blog";
}

@section Header {
	@await Component.InvokeAsync("Header")
}

@section Footer {
	@await Component.InvokeAsync("Footer")
}

<section class="banner_area">
	<div class="container">
		<h1 class="text-white IRANSans_Bold">مقالات</h1>
		<div class="breadcrumb_content">
			<ul>
				<li><a href="/">صفحه اصلی</a></li>
				<li><a href="/blog">مقالات</a></li>
			</ul>
		</div>
	</div>
</section>

<section class="container p-md-5 p-4 ">
	<div class="d-flex flex-row mb-4">
		<div class="Dottedstocol ml-3"></div>
		<div class="singletitle">
			<span>مقالات سایت</span>
			<h1 class="text-right">آخرین مطالب ارسالی</h1>
		</div>
	</div>
	@if (Model.Entities.Any())
	{
		<div class="row">
			@foreach (var Post in Model.Entities)
			{
				<div class="col-lg-4 col-md-6 mb-4">
					<div class="m-2 blog_style">
						<a href="/blog/@Post.Slug"><img class="card-img-top" src="@FilePath.PostImagePath@Post.ImageName" alt="@Post.Title" width="370" height="300"></a>
						<div class="card-body">
							<h3 class="mb-2"><a href="/blog/@Post.Slug">@Post.Title</a></h3>
							<p class="mb-2">
								@Post.ShortDescription
							</p>

							<div class="d-flex flex-row justify-content-between mt-2">
								<div>
									<span><i class="fal fa-eye ml-2"></i>@Post.Visit</span>
								</div>
								<a href="/blog/@Post.Slug">ادامه مطلب »</a>
							</div>
						</div>
					</div>
				</div>

			}
		</div>

			<div class="row mt-3">
				<div class="col-12 text-center mx-auto">
					<ul class="pagination  justify-content-center">
						@if (Model.CurrentPage > 1)
						{
							<li class="page-item">
								<a class="page-link" onclick="changePage(@(Model.CurrentPage-1))">«</a>
							</li>
						}
						else
						{
							<li class="page-item disabled">
								<a class="page-link" href="#">«</a>
							</li>
						}
						@for (int i = Model.StartPage; i <= Model.EndPage; i++)
						{
							<li class="@(i==Model.CurrentPage?"page-item active":"page-item")" onclick="changePage(@(i))">
								<a class="page-link">@i</a>
							</li>
						}
						@if (Model.CurrentPage < Model.EndPage)
						{
							<li class="page-item">
								<a onclick="changePage(@(Model.CurrentPage+1))" class="page-link">
									»
								</a>
							</li>
						}
						else
						{
							<li class="page-item disabled">
								<a class="page-link" href="#">
									»
								</a>
							</li>
						}
					</ul>
				</div>
			</div>
	}
	else
	{
		<div class="row">
			<h5 class="title mb-4 text-center text-dark">موردی برای نمایش یافت نشد!</h5>
		</div>
	}
</section>

@section Scripts {
	<script>
		function changePage(Page) {
			var url = new URL(window.location.href);
			var SerachParams = url.searchParams;

			SerachParams.set('CurrentPage', Page);
			url.search = SerachParams.toString();
			
			var newUrlString = url.toString();
			window.location.replace(newUrlString);
		}
	</script>
}